VITE_LANKA_ELECTRO_MART_WEBHOOK=https://vmi3604779.contaboserver.net/webhook/lanka-electro-mart/chat
VITE_AI_ACADEMY_WEBHOOK=https://vmi3604779.contaboserver.net/webhook/academy/chat
VITE_CARLOOP_WEBHOOK=https://vmi3604779.contaboserver.net/webhook/carloop-chat
VITE_CEYLON_WEBHOOK=https://vmi3604779.contaboserver.net/webhook/ceylon-chat
VITE_LANKA_GLOW_WEBHOOK=https://vmi3604779.contaboserver.net/webhook/lanka-glow-chat
VITE_LANKA_LEGAL_WEBHOOK=https://vmi3604779.contaboserver.net/webhook/legal/chat
VITE_MERIDIAN_FINANCE_WEBHOOK=https://vmi3604779.contaboserver.net/webhook/c6d586f8-103f-4ccd-8e95-705f7f49a6e0/chat
VITE_SENTINEL_INSURANCE_WEBHOOK=https://vmi3604779.contaboserver.net/webhook/53e126fa-59a8-422a-a8c4-f674091f848e/chat
VITE_TEEN_MASTER_OF_BUSINESS_WEBHOOK=https://tachatbotapi.teenacademy.lk/webhook/teen-academy-chat
VITE_PERSONAL_BRANDING_WEBHOOK=https://vmi3604779.contaboserver.net/webhook/personal-branding-chat-v6
